<form [formGroup]="form" (ngSubmit)="submit()">
<mat-form-field class="example-full-width border w-full py-1 px-2 mb-2" appearance="fill" floatLabel="always"  >
  <mat-label>Name</mat-label>
  <input matInput formControlName="name" type="text" placeholder="Enter name">
<!--  <mat-placeholder class="placeholder">Search</mat-placeholder>-->
</mat-form-field>

  <mat-form-field class="example-full-width border w-full py-2 px-4 mb-2" >
    <label>Chart's type</label>
    <mat-select  formControlName="type" class="not-empty-select">
    <mat-label>Type</mat-label>
    <mat-option value="line" >line</mat-option>
    <mat-option value="area">area</mat-option>
    <mat-option value="column">column</mat-option>
      <mat-option value="bar">bar</mat-option>
      <mat-option value="pie">pie</mat-option>
  </mat-select>
  </mat-form-field>
  <input
    type="color"
    class="border  w-full py-2 px-4 mb-2"
    placeholder="Color"
    formControlName="color"
  >

  <button mat-raised-button
          type="submit" class="bg-blue-300"

  >Create</button>

</form>


