<ul>
  <li *ngFor=" let chart of charts">{{chart.title}}</li>
</ul>
<app-modal  *ngIf="modalService.isVisible$ | async">
  <app-add-chart></app-add-chart>
</app-modal>
<app-modal-update  *ngIf="ModalServiceUpdate.isVisibleUpdate$ | async">
  <app-add-chart></app-add-chart>
</app-modal-update>

<ul>
  <li *ngFor="let item of charts"
      class="max-w-2xl container mx-auto pt-5 mt-[20px]">
    <p>name:{{ item.name }}</p>
    <p>type:{{ item.type }}</p>
    <p>color:{{ item.color }}</p>
    <button  class="py-1 px-2 bg-red-300 text-white" (click)="remove(item.id)">remove</button>
    <button  class="py-1 px-8 bg-green-300 text-white" (click)="ModalServiceUpdate.open()">edit</button>
    <mat-divider></mat-divider>
  </li>
</ul>

<button mat-raised-button *ngIf = "!(modalService.isVisible$ | async)"
  class="rounded bg-blue-700 text-white "
  (click)="modalService.open()"
>Add chart</button>
